@page "/admin/batches/details/{BatchId:int}"
@inject IMatToaster _matToaster

@if (currentBatch.Id == 0)
{
    <MatProgressBar Indeterminate="true"/>
}
else
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            @foreach (var item in currentBatch.Semesters.OrderBy(x => x.StartsOn))
            {
                <div class="mat-layout-grid-cell">
                    <MatButton Label="@item.Name"/>
                </div>
            }
        </div>
    </div>
}

@code{
    Batch currentBatch = new Batch();
    [Parameter]
    public int BatchId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        //if (BatchId > 0)
        //    currentBatch = await _batchService.GetBatchAsync(BatchId);
        //else
        //{
        //    _matToaster.Add("Invalid Batch Information", MatToastType.Danger);
        //}
    }
}


