@model IEnumerable<User>
    <div class="card p-3">
        <h1>Students</h1>
        <form asp-controller="Student"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-update="#student_table"
              data-ajax-loading="#spinner"
              asp-action="SearchStudents"
              enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input class="form-control" name="value" placeholder="Search" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <input type="submit" class="btn btn-outline-secondary" value="Search" />
                </div>
            </div>

            <div class="text-center">
                <div id="spinner" style="display:none" class="spinner-border"></div>
            </div>
        </form>
        <div id="student_table">
            @await Html.PartialAsync("_Students", Model)
        </div>
    </div>

@section Scripts
{
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js" asp-append-version="true"></script>
}
