<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IIT Application</title>
    @RenderSection("Styles", required: false)
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link href="~/css/argon-dashboard.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="main-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/argon.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
