@if (ViewData["FailedMessage"] is string failed && !string.IsNullOrWhiteSpace(failed))
{
    <div>
        <h3 class="mt-5 text-center text-danger">@failed</h3>
    </div>
}

@if (ViewData["SuccessMessage"] is string success && !string.IsNullOrWhiteSpace(success))
{
    <div>
        <h3 class="mt-5 text-center text-success">@success</h3>
    </div>
}