@model Web.Areas.Admin.ViewModels.CreateCoursePopupModel
@{
    var modalId = "modal_" + Model.SemesterId;
}
<div>
    <div>
        <small class="d-inline">
            @Model.Semester.StartsOn.ToString("dd MMMM, yyyy") - 
            @Model.Semester.EndsOn.ToString("dd MMMM, yyyy")
        </small>
        <a class="btn btn-outline-secondary rounded-circle d-inline float-right"
           data-toggle="modal"
           data-target="#@modalId">
            <i class="fa fa-plus"></i>
        </a>
    </div>
    
    <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title-default">Add Course to Semester</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="Create"
                          asp-controller="Course"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-update="#partial_@Model.SemesterId">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="SemesterId" />
                        <input type="hidden" asp-for="BatchId" />
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                <label asp-for="CourseId" class="control-label"></label>
                                <input asp-for="CourseId" class="form-control" />
                                <span asp-validation-for="CourseId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                <label asp-for="CourseName" class="control-label"></label>
                                <input asp-for="CourseName" class="form-control" />
                                <span asp-validation-for="CourseName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label asp-for="CourseCredit" class="control-label"></label>
                                <input asp-for="CourseCredit" class="form-control" />
                                <span asp-validation-for="CourseCredit" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group justify-content-center">
                            <input value="Update"
                                   onclick="javascript: document.getElementById('submit_@Model.SemesterId').click();"
                                   data-dismiss="modal"
                                   class="btn btn-outline-primary" />
                            <button id="submit_@Model.SemesterId"
                                    hidden
                                    class="btn btn-info btn-block my-4" type="submit">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
