@model Batch

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="row justify-content-center">
        <div class="card p-2 col-6">
            <h1 class="m-4">Create New Batch</h1>
            <form asp-action="Create" class="m-3 mt-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-12">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label asp-for="NumberOfSemester" class="control-label"></label>
                        <input asp-for="NumberOfSemester" class="form-control" />
                        <span asp-validation-for="NumberOfSemester" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="SemesterDuration" class="control-label"></label>
                        <input asp-for="SemesterDuration" class="form-control" />
                        <span asp-validation-for="SemesterDuration" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label asp-for="StartsOn" class="control-label"></label>
                        <input asp-for="StartsOn" class="form-control" />
                        <span asp-validation-for="StartsOn" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group mt-5">
                    <input type="submit" value="Create" class="btn float-right btn-primary" />
                </div>
            </form>
        </div>
    </div>
  


<div class="mt-5 float-right">
    <a asp-action="Index">Back to List</a>
</div>

