
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-10">
        <h1>Current Batches</h1>
    </div>
    <div class="col-2">
        <a class="btn btn-info d-inline float-right" asp-action="New">Create</a>
    </div>
</div>



