
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-4 mt-lg-5">
        <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
                <img src="~/images/iitlogo-blue.png" class="img-center"
                     style="max-width:20%" />
            </div>
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                    <small>Sign in with credentials</small>
                    <br>
                    <small>
                        You can use <strong>admin</strong> and <strong>pass_WORD_1234</strong> to login
                    </small>
                </div>
                <form id="account" method="post" 
                      asp-action="Login"
                      novalidate="novalidate">
                    <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input class="form-control"
                                   placeholder="Username" 
                                   type="text" data-val="true" 
                                   name="userName" value="">
                        </div>
                        <span class="invalid-feedback field-validation-valid" style="display: block" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            </div>
                            <input placeholder="Password" 
                                   type="password" 
                                   class="form-control"
                                   data-val="true" 
                                   data-val-required="The Password field is required." 
                                   id="Input_Password" 
                                   name="password">
                        </div>
                        <span class="invalid-feedback field-validation-valid" style="display: block" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                    </div>
                    <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" 
                               id=" customCheckLogin" 
                               type="checkbox" 
                               data-val="true" 
                               data-val-required="The Remember me? field is required." 
                               name="isPersistent" value="true">
                        <label class="custom-control-label" for=" customCheckLogin">
                            <span class="text-muted">Remember me?</span>
                        </label>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary my-4" type="submit">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <a id="forgot-password" class="text-light" href="#"><small>Forgot password?</small></a>
            </div>
            <div class="col-6 text-right">
                <a class="text-light" href="#"><small>Create new account</small></a>
            </div>
        </div>
    </div>
</div>


