@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">IIT.Web</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/batches/">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Batches
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/courses/index">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/students/index">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>

        </ul>
    </div>
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <b>Hello, @context.User.Identity.Name!</b>
                <a class="ml-md-auto btn btn-primary"
                   href="/api/member/WebLogout"
                   target="_top">Logout</a>
            </Authorized>
            <NotAuthorized>
                <span>You are not logged in. Error</span>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [CascadingParameter] Task<AuthenticationState> AuthenticationState { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var res = await AuthenticationState;
        if (res.User.Identity.IsAuthenticated)
        {
            //_navigationManager.NavigateTo("/admin/");
        }
        else
        {
            _navigationManager.NavigateTo("/login/");
        }
    }
}
