@model Course

@{
    ViewData["Title"] = "Course Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3>@Model.CourseName</h3>
    </div>
    <div class="card-body">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="CourseName" class="control-label"></label>
                    <input asp-for="CourseName" class="form-control" />
                    <span asp-validation-for="CourseName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="CourseCredit" class="control-label"></label>
                    <input asp-for="CourseCredit" class="form-control" />
                    <span asp-validation-for="CourseCredit" class="text-danger"></span>
                </div>
            </div>
            <input type="submit" value="Update"
                   class="btn btn-outline-primary" />
        </form>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <h2 class="d-inline">Lessons</h2>
        <div class="d-inline-flex float-right">
            <a class="btn"
               style="color:black"
               data-toggle="modal"
               data-target="#create_lesson_model">
                <i class="fa fa-plus mr-1"></i>
                Add Lesson
            </a>
        </div>
    </div>
    <div class="card-body">
        <div id="lesson_body">
            @await Html.PartialAsync("_Lesson", Model.Lessons)
        </div>
    </div>
</div>
@await Html.PartialAsync("_CreateLesson", new LessonViewModel(Model.Id))
@if (Model.CourseMaterials != null)
{
    foreach (var file in Model.CourseMaterials)
    {
        <a asp-area="" asp-controller="Files" asp-action="Index"
           asp-route-id="@file.Id">@file.FileName</a>
        <br />
    }
}

<div class="card mt-3">
    <div class="card-header">
        <h2 class="d-inline">Students</h2>
        <form asp-controller="Course"
              class="d-inline float-right"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-update="#student_table"
              data-ajax-loading="#spinner"
              asp-action="UploadResult"
              enctype="multipart/form-data">
            <div>
                <input type="hidden" name="courseId" value="@Model.Id" />
                <label class="btn">
                    Upload Result
                    <input type="file" name="file" hidden
                           onchange="javascript: document.getElementById('submit_button').click();">
                </label>
                <button id="submit_button"
                        hidden
                        class="btn btn-info btn-block my-4" type="submit">
                </button>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="text-center">
            <div id="spinner" style="display:none" class="spinner-border"></div>
        </div>
        <div id="student_table" style="min-height:50%">
            @await Html.PartialAsync("_Result", Model.StudentCourses)
        </div>
    </div>

</div>


@section Scripts
{
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js" asp-append-version="true"></script>
}