@model IndexNoticeViewModel
@{
    ViewData["Title"] = "Notice";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Action"] = "Index";
    ViewData["Controller"] = "Notice";
}
<div class="card">
    <div class="card-header">
        <h3 class="m-0"> Upcoming Notices</h3>
    </div>
    @await Html.PartialAsync("_Notices", Model.UpComingNotices)
</div>

<div class="card mt-4">
    <div class="card-header">
        <h3 class="m-0"> Recently published</h3>
    </div>
    @await Html.PartialAsync("_Notices", Model.RecentNotices)
</div>
<div class="float-right mt-5">
    <partial name="_Pagination" />
</div>
