@model IndexNoticeViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var page = (int)(ViewData["CurrentPage"] ?? 1);
    var totalPage = (int)(ViewData["TotalPage"] ?? 1);
}
<h3> Upcoming Notices</h3>
@await Html.PartialAsync("_Notices", Model.UpComingNotices)
<br />
<br />
<h3> Recent Notices</h3>
@await Html.PartialAsync("_Notices", Model.RecentNotices)
<br />
<div class="float-right mt-5">
    <ul class="pagination">
        @for (var i = 1; i <= totalPage; i++)
        {
            <li class="page-item @(i == page ? "active" : "")">
                <a asp-page="/pagination" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>
